.App {
  text-align: center;
}


button {
  background-color: #4879d2;
  border: none;
  width: 95%;
  color: white;
  padding: 5px 12px;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 7px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
  background-color: white;
  border:5px #4879d2;
  color: black;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

input{
  width: 95%;
  height: 15px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  margin: 7px 2px;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.App-header {
  width: 100%;
  background-color: #7ba0ea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

